src/extractor/xsdfiles/t.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified">
    <xs:complexType name="languageType">
        <xs:sequence>
            <xs:element name="page" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="t" minOccurs="0" maxOccurs="unbounded">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="id" type="xs:integer" use="required"/>
                                        <xs:anyAttribute processContents="lax"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:integer" use="required"/>
                    <xs:attribute name="title" type="xs:string" use="optional"/>
                    <xs:attribute name="descr" type="xs:string" use="optional"/>
                    <xs:attribute name="voice" type="xs:string" use="optional"/>
                    <xs:anyAttribute processContents="lax"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:integer" use="required"/>
        <xs:anyAttribute processContents="lax"/>
    </xs:complexType>

    <xs:element name="language" type="languageType"/>
</xs:schema>
