src/extractor/xsdfiles/wares.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <!-- Dedicated schema for wares.xml -->

    <xs:complexType name="wareAmount">
        <xs:attribute name="ware" type="xs:string" use="required"/>
        <xs:attribute name="amount" type="xs:decimal"/>
    </xs:complexType>

    <xs:complexType name="priceType">
        <xs:attribute name="min" type="xs:decimal" use="required"/>
        <xs:attribute name="average" type="xs:decimal" use="required"/>
        <xs:attribute name="max" type="xs:decimal" use="required"/>
    </xs:complexType>

    <xs:complexType name="primaryType">
        <xs:sequence>
            <xs:element name="ware" type="wareAmount" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="effectType">
        <xs:attribute name="type" type="xs:string" use="required"/>
        <xs:attribute name="product" type="xs:decimal"/>
    </xs:complexType>

    <xs:complexType name="effectsType">
        <xs:sequence>
            <xs:element name="effect" type="effectType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="researchType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:choice>
                <xs:element name="primary" type="primaryType"/>
                <xs:element name="research" type="researchType"/>
                <xs:element name="ware" type="wareAmount"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="time" type="xs:decimal"/>
    </xs:complexType>

    <xs:complexType name="wareProductionType">
        <xs:sequence>
            <xs:element name="primary" type="primaryType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="effects" type="effectsType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="research" type="researchType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
        <xs:attribute name="time" type="xs:decimal" use="required"/>
        <xs:attribute name="amount" type="xs:decimal" use="required"/>
        <xs:attribute name="method" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="tags" type="xs:string"/>
        <xs:attribute name="dismantlefactor" type="xs:decimal"/>
    </xs:complexType>

    <xs:complexType name="methodDefaultType">
        <xs:attribute name="race" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="methodType">
        <xs:sequence>
            <xs:element name="default" type="methodDefaultType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
        <xs:attribute name="name" type="xs:string"/>
        <xs:attribute name="tags" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="productionRootType">
        <xs:sequence>
            <xs:element name="method" type="methodType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="componentType">
        <xs:attribute name="ref" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="containerType">
        <xs:attribute name="ref" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="iconType">
        <xs:attribute name="active" type="xs:string"/>
        <xs:attribute name="video" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="sourceType">
        <xs:attribute name="type" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="sourcesType">
        <xs:sequence>
            <xs:element name="source" type="sourceType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="restrictionType">
        <xs:attribute name="licence" type="xs:string"/>
        <xs:attribute name="buy" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="useType">
        <xs:attribute name="threshold" type="xs:decimal"/>
        <xs:attribute name="factions" type="xs:string"/>
        <xs:attribute name="purposes" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="ownerType">
        <xs:attribute name="faction" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="illegalType">
        <xs:attribute name="factions" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="softwareType">
        <xs:attribute name="predecessor" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:complexType name="wareBodyType">
        <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:choice>
                <xs:element name="price" type="priceType"/>
                <xs:element name="production" type="wareProductionType"/>
                <xs:element name="research" type="researchType"/>
                <xs:element name="component" type="componentType"/>
                <xs:element name="container" type="containerType"/>
                <xs:element name="icon" type="iconType"/>
                <xs:element name="sources" type="sourcesType"/>
                <xs:element name="restriction" type="restrictionType"/>
                <xs:element name="use" type="useType"/>
                <xs:element name="owner" type="ownerType"/>
                <xs:element name="illegal" type="illegalType"/>
                <xs:element name="software" type="softwareType"/>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="defaultsType">
        <xs:complexContent>
            <xs:extension base="wareBodyType">
                <xs:attribute name="id" type="xs:string" use="required"/>
                <xs:attribute name="name" type="xs:string"/>
                <xs:attribute name="transport" type="xs:string" use="required"/>
                <xs:attribute name="volume" type="xs:decimal" use="required"/>
                <xs:attribute name="tags" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="wareType">
        <xs:complexContent>
            <xs:extension base="wareBodyType">
                <xs:attribute name="id" type="xs:string" use="required"/>
                <xs:attribute name="name" type="xs:string"/>
                <xs:attribute name="description" type="xs:string"/>
                <xs:attribute name="factoryname" type="xs:string"/>
                <xs:attribute name="group" type="xs:string"/>
                <xs:attribute name="transport" type="xs:string" use="required"/>
                <xs:attribute name="volume" type="xs:decimal" use="required"/>
                <xs:attribute name="tags" type="xs:string"/>
                <xs:attribute name="shortname" type="xs:string"/>
                <xs:attribute name="sortorder" type="xs:integer"/>
                <xs:attribute name="licence" type="xs:string"/>
                <xs:attribute name="illegal" type="xs:string"/>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="waresType">
        <xs:sequence>
            <xs:element name="production" type="productionRootType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="defaults" type="defaultsType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ware" type="wareType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="wares" type="waresType"/>
</xs:schema>
